$--system-100: #1d1e20;
$--system-200: #414244;
$--system-300: #797a7d;
$--system-400: #97989b;
$--system-500: #b6b7b9;
$--system-600: #d7d7d9;
$--system-700: #eaeaea;
$--system-800: #f8f8f9;

$--pri-100: #6b7f33;
$--pri-200: #768f30;
$--pri-300: #b3c976;
$--pri-400: #fdf7d6;

$--sec-100: #384829;
$--sec-200: #6d784d;
$--sec-300: #a8ad98;
$--sec-400: #d1d7bd;
$--sec-500: #f1f1eb;
$--sec-600: #f7faf1;

$--white: #ffffff;
$--black: #000000;
$--base: #fefcf7;

$--bd-100: #e2e2e2;
$--bd-200: #f9f9f9;
$--bd-300: #f7f5ef;

$--md-70: #000000b2;
$--md-50: #00000080;

$--error: #ff4c4c;
