.menu {
  @include grid($repeat: 4, $size: minmax(max-content, 1fr), $gap: 1px);

  > button {
    @include flex;
    height: 30px;
    color: $--white;
    background-color: $--pri-300;

    &.active {
      background-color: $--pri-100;
    }
  }
}
